.About-us-2page {
    display:flex;
    margin-left: 100px;

    @media screen and (max-width: $bp--desktop) {
        margin-left: 20px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__text {
        &--limited {
        max-width: 340px;
    }
    }

    &__art_text {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 34px;

        @media screen and (max-width: $bp--desktop) {
            margin-top: -30px;
            gap: 24px;
        }
    }
    &__art_text h1 {
        color: var(--beauty-landing-2-c-1, #011C44);
        font-family: Play;
        font-size: 64px;
        font-weight: 700;
        line-height: 1;

        @media screen and (max-width: $bp--desktop) {
            color: var(--beauty-landing-2-c-1, #011C44);
            font-family: Roboto;
            font-size: 42px;
            font-style: normal;
            font-weight: 650;
            line-height: normal;
        }
    }
    &__art_text span{
        color: var(--beauty-landing-22, #2B7FFF);
        font-family: Play;
        font-size: 64px;

        @media screen and (max-width: $bp--desktop) {
            color: var(--beauty-landing-22, #2B7FFF);
            font-family: Roboto;
            font-size: 42px;
            font-style: normal;
            font-weight: 650;
            line-height: normal;
            text-transform: capitalize;
        }
    }
    &__art_text #art_p_first {
        color: var(--beauty-landing-2-c-1, #011C44);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;

        @media screen and (max-width: $bp--desktop) {
            width: 380px;
            color: var(--beauty-landing-2-c-1, #011C44);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__art_text #art_p_two {
        color: var(--beauty-landing-2-c-1, #011C44);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;

        @media screen and (max-width: $bp--desktop) {
            width: 380px;
            color: var(--beauty-landing-2-c-1, #011C44);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__art_text #art_p_two span{
        color: var(--beauty-landing-2-c-1, #011C44);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 600;
        line-height: 38px;
        text-transform: capitalize;

        @media screen and (max-width: $bp--desktop) {
            width: 380px;
            color: var(--beauty-landing-2-c-1, #011C44);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: capitalize;
        }
    }
}


.art_img {
    display: flexbox;
    width: 499px;
    height: 695px;
    margin-left: 32px;
    @media screen and (max-width: $bp--desktop) {
        display: none;
    }
    &__face_before {
        width: 335px;
        height: 328px;
        margin-bottom: 20px;
    }
    &__face_after {
        width: 335px;
        height: 328px;
        margin-left: 250px;
    }
    &__blue_star {
        position: relative;
        padding-bottom: 312px;
        padding-left: 45px;
        animation: mymove 5s infinite;
        @media screen and (max-width: $bp--tablet) {
            display: none;
          }
    }
    &__grey_star {
        position: relative;
        padding-bottom: 77px;
        padding-left: -12px;
        animation: mymove 5s infinite;
        @media screen and (max-width: $bp--desktop) {
            display: none;
          }
    }
    &__dark-blue_star {
        position: relative;
        right: -142px;
        top: 390px;
        animation: mymove 5s infinite;
        @media screen and (max-width: $bp--tablet) {
            display: none;
          }
    }
    @keyframes mymove {
        0%   {top: 0px;}
        25%  {top: 45px;}
        75%  {top: 38px}
        100% {top: 40px;}
      }
}