.footer {
    display: flex;
    background-color: var(--beauty-landing-2-c-1);
    color: var(--beauty-landing-2-background);
    background-image: url(/img/background-footer.png);
    font-family: Roboto;
    flex-direction: column;

    text-align: center;
    align-items: center;
    gap: 13px;
    @media screen and (max-width: $bp--desktop) {
        gap: 16px;
    }
    @media screen and (min-width: $bp--desktop) {
        gap: 180px;
        height: 280px;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
    &__logo {
        cursor: pointer;
        margin-top: 10px;
        width: 83px;
        height: 42px;
        @media screen and (min-width: $bp--desktop) {
            margin: 56px;
        }
        @media screen and (max-width: $bp--desktop) {
            margin-top: 32px;
            margin-bottom: 26px;
        }
    }
    &__about_us--ul{
        text-decoration: none;
        list-style: none;
    }
    &__about_us--ul a{
        text-decoration: none;
        color: var(--beauty-landing-2-background);
    }
    &__about_us--about {
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
    }
    &__about_us--about:hover {
        color: #2B7FFF;
        transition: 0.2s;
    }
    &__about_us {
        @media screen and (min-width: $bp--desktop) {
            margin-top: 56px;
            margin-bottom: 40px;
        }
    }
    &__about_us li{
        @media screen and (min-width: $bp--desktop) {
            margin-bottom: 16px;
        }
        @media screen and (max-width: $bp--desktop) {
            padding-bottom: 16px;
        }
    }
    &__about_us--info {
        
        @media screen and (min-width: $bp--desktop) {
            margin-top: 56px;
            margin-bottom: 40px;
        }
    }
    &__about_us--info li {
        @media screen and (min-width: $bp--desktop) {
            margin-bottom: 16px;
        }
    }
    &__about_us--ul {
        text-decoration: none;
        color: var(--beauty-landing-2-background);
    }
    &__about_us--ul {
        text-decoration: none;
        color: var(--beauty-landing-2-background);
    }
    &__about_us--confidenc {
        @media screen and (min-width: $bp--desktop) {
            margin-top: 56px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: $bp--desktop) {
            margin-bottom: 64px;
        }
    }
    &__about_us--confidenc li {
        
        text-decoration: none;
        @media screen and (min-width: $bp--desktop) {
            margin-bottom: 16px;
        }
    }
    &__about_us--confidenc span {
        color: var(--beauty-landing-25, #747272);
        font-size: 13px;
    }
    &__about_us--confidenc:hover {
        color: #2B7FFF;
        transition: 0.2s;
    }
    &__about_us--confidenc__conf-img {
        padding-left: 159px;
        bottom: 0;
        // margin-right: 120px;
        // display: none;
        @media screen and (max-width: $bp--tablet) {
            display: none;
        }
    }
}

.link2 {
    @media screen and (max-width: $bp--tablet) {
            display: none;
        }
}
